/**
 * Ceiling utility - space above an element
 *
 * .u-ceiling and .u-island replace https://github.com/suitcss/utils-space
 *
 * Provides an abstracted margin-top property for layout
 */

.u-ceiling {
  margin-top: 2em;
}



/* =xXsmall */
.u-ceiling--xXsmall {
  margin-top: 0.25em;
}

/* =small */
.u-ceiling--xSmall {
  margin-top: 0.5em;
}



/* =small */
.u-ceiling--small {
  margin-top: 1em;
}



/* =large */
.u-ceiling--large {
  margin-top 3em;
}



/* =x-large */
.u-ceiling--xLarge {
  margin-top 4em;
}

.u-ceiling-h2-baselineAdjust {
    margin-top: 0.8em;
}

.u-ceiling-h3-baselineAdjust {
    margin-top: 1.1em;
}


/* Negative top margins */

/* =xXsmall */

.u-ceiling-negative--xXsmall {
    margin-top: -0.25em;
}

/* =small */
.u-ceiling-negative--xSmall {
    margin-top: -0.5em;
}



/* =small */
.u-ceiling-negative--small {
    margin-top: -1em;
}



/* =large */
.u-ceiling-negative--large {
    margin-top -3em;
}
