/**
 * Heading
 *
 * Page heading element.
 * Can include H1,H2,H3 etc., and summary paragraph
 */

.Heading {
  margin: 0 0 var(--space-micro-large);
}

.Heading-ceiling {
    margin-top: var(--space-micro-large);
}

.Heading-title {
  margin: 0;
}

.Heading-subtitle {
  margin: 0;
}

.Heading-body {
  margin: 0;
}

.Heading-icon {
  display: flex;
  float: left;
  height: 100%;
  width: 50px;

  .fa {
    align-items: center;
    display: flex;
    font-size: var(--font-size-micro-small);
    justify-content: center;
  }
}

.Subheading {
  margin: var(--font-size-micro-small) 0;
}

.Subheading-title {
  margin: 0;
}

.Subheading-body {
  margin: 0;
}


