/*
 Layout tweaks - only to be resorted to if there's not a SUIT grid or u-size class to help out
*/

.u-layoutBlock {
  display: block;
}

.u-layoutInlineBlock {
  display: inline-block;
}

.u-layoutInline {
  display: inline;
}

.u-layoutVerticalTop {
  vertical-align: top !important;
}

.u-layoutVerticalMiddle {
  vertical-align: middle !important;
}

.u-layoutVerticalBottom {
  vertical-align: bottom !important;
}

.u-layoutFillHeight {
  height: 100%;
}

.u-layoutMinHeight--160 {
  min-height: 160px;
}

.u-lg-layoutMinHeight--160 {
  min-height: auto;

  @media (--viewport-lg) {
    min-height: 160px;
  }
}

.u-layoutMinHeight--250 {
  min-height: 250px;
}

.u-layoutMinHeight--280 {
    min-height: 280px;
}

.u-layoutMinHeight--325 {
    min-height: 325px;
}

.u-lg-layoutMinHeight--250 {
  min-height: auto;

  @media (--viewport-lg) {
    min-height: 250px;
  }
}

.u-lg-layoutMinHeight--550 {
  min-height: auto;

  @media (--viewport-lg) {
    min-height: 550px;
  }
}

.u-layoutCentered {
  margin-left: auto;
  margin-right: auto;
}

.u-layoutFixedWidth--180 {
  width: 180px;
}

.u-layoutFixedWidth--250 {
  width: 250px;
}


/**
 * Floats
 */

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}
