/* Explicit max-widths
   ========================================================================== */

for num in (200 240 280 300 320 360 400 440 480 520 560 600)
  .u-maxSize--{num}
      max-width: num px
